{% extends 'lottery_app/basic.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="bg-white p-6 rounded shadow max-w-md mx-auto mt-10">
    <h2 class="text-2xl font-bold mb-4 text-center">Forgot Password</h2>
    <form method="post">
        {% csrf_token %}
        <input name="email_or_phone" type="text" placeholder="Email or Mobile Number" class="w-full border p-2 rounded mb-2" required>
        <input name="date_of_birth" type="date" placeholder="Date of Birth" class="w-full border p-2 rounded mb-4" required>
        <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded w-full">Verify</button>
    </form>
</div>
{% endblock %}
